*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

.title {
  margin-top: 20px;
  text-transform: uppercase;
}

.calculator-grid {
  /* min-height: 80vh; */
  margin-top: 8px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  transition: all 0.2s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

#delete:hover {
  background-color: rgba(251, 218, 97, 0.3);
}

.operator:hover {
  background-color: rgba(251, 218, 97, 0.6);
}

.span-two:hover {
  background-color: rgba(255, 90, 205, 0.2);
}

.output {
  grid-column: 1 / -1; /* from column 1 to last */
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* start from right side */
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-display {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-display {
  color: rgba(255, 255, 255, 1);
  font-size: 2.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}


/* footer */
footer {
  font-size: 0.8rem;
  margin: 28px 0 12px;
  text-decoration: none;
}

footer a,
footer a:visited {
  color: black;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

footer a:hover {
  opacity: 0.6;
  font-size: 0.85rem;
}

.fa-github {
  color: black;
  position: static;
  transition: 0.4s ease-in-out;
}

.fa-github:hover {
  transform: scale(1.4) rotate(360deg);
}
